.processtree-page{
    background-color: rgb(124, 108, 136);
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    /* align-items: start; */
    
}
.process-pid-select{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}
.processtree-page button{
    width: 5%;
    height: 5%;
}
